[[protocol]]
name = "git"
description = "Download projects using git"
command = ["git", "clone", "{{ orbit.project.source }}", "-b", "{{ orbit.project.version }}"]
patterns = ["*.git"]

[[target]]
name = "ghdl"
description = "Run simulations with GHDL"
command = ["python3", "ghdl.py"]
plans = ["json"]
test = true
build = false

[[target]]
name = "vi"
description = "Run FPGA workflows with Vivado"
command = ["python3", "vi.py"]
test = false
build = true
fileset.xdcf = "{{ orbit.top.name }}.xdc"

[[target]]
name = "msim"
description = "Run simulations with ModelSim"
command = ["python3", "msim.py"]
plans = ["json"]
test = true
build = false
fileset.wav = "{{ orbit.tb.name }}.do"

[[target]]
name = "quartz"
description = "Run FPGA workflows with Quartus"
command = ["python3", "quartz.py"]
build = true
test = false
fileset.pdcf = "{{ orbit.top.name }}.pdc.toml"
fileset.sdcf = "{{ orbit.top.name }}.sdc"

# Below are unused... need refactoring

[[target]]
name = "visi"
description = "Vivado Simulator general-purpose simulations"
command = ["python3", "xsim.py"]
build = true
test = true

[[target]]
name = "xpro"
description = "Xilinx Vivado project mode toolflow"
command = ["python", "xpro.py"]
build = true
test = false
fileset.xdcf = "*.xdc"

